@model SysGymT.EntidadesDeNegocio.Customer

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/machines/create.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">

<div class="row main-div text-center">
    <h3>Se eliminará el siguiente registro:</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name_Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name_Customer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Last_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DUI)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DUI)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Membership)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership)
        </dd>
    </dl>

    <form id="deleteForm" asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id_Customer" />
        <button type="button" class="btn btn-danger" onclick="confirmDelete()">Eliminar</button> |
        <a asp-action="Index" class="btn btn-warning">Volver a la lista</a>
    </form>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmDelete() {
            Swal.fire({
                title: '¿Estás seguro?',
                text: 'Esta acción no se puede deshacer',
                icon: 'warning',
                iconColor: '#000',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#000',
                confirmButtonText: 'Sí, eliminarlo',
                background: '#ffc107'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById("deleteForm").submit();
                }
            });
        }
    </script>
}
